STAKING_API_URL=https://staking-api.stakely.io/docs
STAKING_API_DOC_JSON_URL=https://staking-api.stakely.io/openapi.json
APP_URL=https://app.stakely.io
CHATWOOT_WEBSITE_TOKEN=your_token_here
CHATWOOT_BASE_URL=https://your.chatwoot.instance
CHATWOOT_ENABLED=false
