.card {
    border: solid 2px var(--stakely-background-01);
}

.card:hover {
    border: solid 2px var(--stakely-background-04);
}

[data-theme="dark"] .card {
    background-color: rgba(44, 46, 57, 0.4);
    color: var(--stakely-background-00);
    box-shadow: 0 8px 15px 2px rgba(35, 37, 46, 0.2);
    border: solid 2px var(--stakely-background-05);
}

[data-theme="dark"] .card__header h3 {
    color:  var(--stakely-primary-egg-white);
}

[data-theme="dark"]  .card:hover {
    border: solid 2px var(--stakely-primary-orange);
}

[data-theme="dark"]  .card:hover .card__header h3 {
    color:  var(--ifm-color-primary);
}

.cards__container {
    margin: 3em 0;
}

.cards__container .col {
    margin-bottom: 3em;
}

.card {
    padding: 1rem;
    margin-top: 0rem;
    animation: fadeInUp 400ms backwards;
    animation-delay: 150ms;
    transition-property: all;
    transition-duration: 200ms;
    align-items: start;
    height: 100%;
    box-shadow: 0 8px 15px 2px rgba(86, 91, 115, 0.2);
}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translate(0px, -5px);
}

.card__header {
    display: flex;
    gap: 16px;
    align-items: center;
}
.card__header h3 {
    color: var(--stakely-background-04);
}